* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    background-color: #F5F5F5;
    width: 80vh;
    height: 80vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        font-family: Karla;
        font-weight: 700;
        font-size: calc(80vh * 0.08);
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: -3%;
        text-align: center;
        vertical-align: middle;
        margin: 0;
        padding-bottom: calc(80vh * 0.01);
    }

    .instructions {
        font-family: Karla;
        font-weight: 400;
        font-size: calc(80vh * 0.04);
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: -3%;
        text-align: center;
        vertical-align: middle;
        width: calc(80vh * 0.73);
        margin: 0;
        padding-top: calc(80vh * 0.01);
        padding-bottom: calc(80vh * 0.075);
        color: #4A4E74;
    }

    .dice-box {
        width: calc(80vh * 0.78);
        height: calc(80vh * 0.28);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        /* display: grid;
        grid-template: auto auto / repeat(5, 1fr); */
        gap: calc(80vh * 0.03);

        .die {
            width: calc(80vh * 0.11);
            height: calc(80vh * 0.11);
            color: #2B283A;
            background-color: white;
            font-family: Karla;
            font-weight: 700;
            font-size: calc(80vh*0.06);
            leading-trim: NONE;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
            border-radius: calc(80vh * 0.015);
            border: none;
            padding: 0;
            cursor: pointer;
        }

        .held {
            background-color: #59E391 !important;
        }
    }

    .roll-button {
        width: calc(80vh * 0.29);
        height: calc(80vh * 0.11);
        background-color: #5035FF;
        border-radius: 3.81px;
        font-family: Karla;
        font-weight: 700;
        font-size: calc(80vh * 0.05);
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
        color: white;
        border: none;
        margin-top: calc(80vh * 0.08);
        cursor: pointer;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

